-var menu = {'blog': 'https://jaap.ninja', 'work': '/work', 'contact': '/contact' };
-var social = {'twitter': 'https://twitter.com/jaapbakker', 'facebook': 'https://facebook.com/bakker.labs', 'instagram': 'https://instagram.com/jpbkkr' };


doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=7')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		
		block content
	
		//- script(src='/javascripts/script.js')

		footer
			.container
				.row
					.col-md-2.hidden-sm.hidden-xs
						img(src='images/logo.svg' class="img-responsive" style='width: 100%;')
					.col-md-2.col-md-offset-1.col-xs-6
						ul
							p.typography 
								strong menu
							each val, key in menu
								li
									a(href=val, title=key) #{key}

					.col-md-2.col-md-offset-1.col-xs-6
						ul
							p.typography 
								strong social
							each val, key in social
								li
									a(href=val, title=key) #{key}



		script(src='javascripts/scripts.js')

